:root {
    --background-color: darkblue;
    --padding: 10px;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1  {
    background-color: var(--background-color);
}

img {
    width:150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* This will make increase the padding by 10px */
p {
    padding: var(--padding);
}
